html, body {
  height: 100%;
}

input, button {
  padding: 0;
  margin: 0;

  font-size: inherit;
  font-family: inherit;
}

input:focus, button:focus {
  outline: none;
}

h1, h2, p {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: column;
}

.game {
  flex: 1.2;
  display: flex;
  flex-flow: column;
  align-items: center;

  font-family: Helvetica, Arial, sans-serif;
}

.game__content {
  margin: 1em 0;
}

.game__content_hidden {
  display: none !important;
}

.description {
  text-align: center;
}

.description__label {
  margin-bottom: 1em;
}

.description__link {
  text-decoration: none;
  color: cornflowerblue;
}

.city-search {
  display: inline-table;
}

.city-search__element {
  position: relative;
  display: table-cell;
  height: 40px;
}

.city-search__micro {
  position: absolute;

  top: 10px;
  right: 15px;

  cursor: pointer;
}

.city-search__input {
  height: 100%;
  width: 240px;
}

.city-search__button {
  height: 100%;
  width: 80px;
}

.computer-says {
  text-align: center;
}

.computer-says__label {
  margin-bottom: 1em;
}

.computer-says__message_accent {
  color: lightcoral;
}

.input, .button {
  box-sizing: border-box;

  font-size: 14px;

  border: 1px solid lightgray;
}

.input {
  padding: 0 10px;
}

.button {
  background-color: lightyellow;

  padding: 10px 20px;
}

.button:active {
  background-color: lightgoldenrodyellow;
}

.button_coral {
  color: white;
  background-color: lightcoral;
}

.button_coral:active {
  background-color: coral;
}


.map {
  flex: 1 0;
  display: flex;
}
